

footer {
    background-color: #1e2221!important;
    color: #aab7be;
}

.right-footer-menu{
  float: right;
}

.social-icons{
  text-align: left;
}

footer .social-icons .fa{
  background-color: #525b5a;
  padding: 11px;
  font-size: 20px;
  border-radius: 199px;
  margin: 13px;
  color: #1e2221;
  position: relative;
  top: 5px;
  float: left;
  transition: .5s;
}

footer .social-icons .fa:hover{
  background-color: #a48b80;
}

footer .social-icons .fa-facebook{
  padding-right: 15px;
  padding-left: 15px;
}

footer .container{
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

footer ul{
  display:block;
  list-style: none;
  -webkit-padding-start: 0px;
  text-align:right;
}

#copyrights {
    background-color: #242928;
    text-align: center;
    padding: 2px;
    font-size: 14px;
    color: #525b5a;
    padding-top: 10px;
}

footer ul li{
  display: inline-block;
  font-size: 16px;
}

footer ul li p{
  word-spacing: 3px;
  position: relative;
  top: 16px;
  padding: 15px;
}

footer a p{
    color: #aab7be;
    opacity: 1;
    text-decoration: none;
    transition: .5s;
    padding-top: 30px;
}

footer a p:hover {
    color: #aab7be;
    text-decoration: none;
    opacity: .7;
}

.mobile-footer-nav{
  position: relative;
}

.no-padding-left{
  padding-left: 0px;
}

.no-padding-right{
  padding-right: 0px;
}

.right-brain-btn {
  background-color: #df3f3f;
  padding-top: 0px;
  color: #f5f5f5;
  padding-bottom: 21px;
  padding-right: 3px;
  float: right;
  transition: .5s;
  text-align: center;
}

.right-brain-btn a p{
  color: #f5f5f5;
}

.left-brain-btn:hover{
  background-color: #1B242B;
}

.left-brain-btn p {
    word-spacing: 0px;
    position: relative;
    top: 9px;
}


@media screen and (max-width: 768px){
  .social-icons {
      text-align: center;
      -webkit-padding-start: 0px;
      padding-bottom: 30px;
      padding-top: 10px;
  }
  .left-brain-btn {
    background-color: #4d555c;
    padding-top: 21px;
    padding-bottom: 28px;
    padding-right: 3px;
    float: left;
    transition: .5s;
    text-align: center;
    position: relative;
    top: -30px;
  }
  .mobile-footer-nav{
    text-align:center;
  }
}
